.align-icon{
    margin:10px; 
}
.fa-heart{
    margin:2px;
}
.description{
  border-left: 5px solid rgba(0, 0, 0, 0.123);
  margin: 5px 0;
}
.desc-choice{
}
img{
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

ul {
    list-style: none;
    padding: 0;
  }
li{
    border: 1px solid #ddd;
    padding: 5px 3px;
}
li.head{
    font-weight: bold;
}
li:nth-child(2n){
    background: rgb(243, 234, 241);
}
.alllist{
    padding: 0 !important;
}